@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #010026;
  @apply text-white;
}
.navbar-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.navbar-link::before {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust this value to change the distance of the underline from text */
  left: 0;
  width: 0%;
  height: 3px; /* Adjust this value to change the thickness of the underline */
  background-color: #fdcc49; /* Change the color of the underline */
  transition: width 0.2s ease-in-out;
}

.navbar-link:hover::before {
  width: 55%; /* Adjust this value to control how much the underline expands on hover */
}